.choose{
    color:hotpink;
    text-align: center;
    text-shadow:black;
}
body{
    background-image: url();
}
.red{
    color: coral;
    text-align: center;
}
#tOP{
    text-align: center;
    color: blue;
    font-style: italic;
    font-size: medium;
    font-weight: bold;
}
.toppings{
    text-align: center;
    color: hotpink;
}
#pepa{
    padding-top: 1%;
}
.card{
    background-color: navajowhite;
}
#Home{
    background-color: hotpink;
    background-image: url(tmnt.jpg);
    padding-top: 47%;
}
.blue{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.order{
    text-align: center;
}
.anotherone{
    text-align: center;
    padding-top: 6%;
}
.checkout{
 color: olivedrab;
}