
h1{
    color: blueviolet;
    font-weight: bolder;
}
p{
    color:lawngreen;
    font-weight: 700;
    font-style: italic;
}
h3{
    color:navajowhite;
    font-weight: bolder;
}
body{
    background-image: url(pix.jpg);
}